$navbar-height-lg: 154px;
$navbar-height-sm: 65px;

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-top: $navbar-height-lg;
  min-height: calc(100vh - $navbar-height-lg);

  @include media-breakpoint-down(lg) {
    margin-top: $navbar-height-sm;
    min-height: calc(100vh - $navbar-height-sm);
  }
}

main > .section {
  padding-top: 120px;
  padding-bottom: 120px;

  @include media-breakpoint-down(lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

a {
  color: inherit;
}

p {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
