// font - Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

// Text Style
.ts-title {
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
}
.ts-subtitle {
  font-size: $font-size-base * .875;
  font-weight: $font-weight-semibold;
}

* {
  letter-spacing: 0.02em;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  letter-spacing: normal;
}