<section class="section category-section py-10 py-lg-30 overflow-hidden">
  <div class="container py-20">
    <div class="row flex-column-reverse flex-lg-row justify-content-between align-items-center">
      <div class="col-lg-6">
        <!-- PC 版 -->
        <ul class="row row-cols-2 row-gap-6 d-none d-lg-flex">
          <li class="col">
            <div class="bg-white rounded-5 p-5">
              <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                <picture>
                  <source
                    srcset="../assets/images/icons/category-1.svg"
                    media="(min-width: 992px)"
                  />
                  <img alt="分類圖示" />
                </picture>
                <div>
                  <h3 class="fs-base mb-2 lh-base">網路行銷</h3>
                  <p class="fs-sm" style="color: #6e7485">342 門課程</p>
                </div>
              </a>
            </div>
          </li>
          <li class="col">
            <div class="bg-white rounded-5 p-5">
              <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                <picture>
                  <source
                    srcset="../assets/images/icons/category-2.svg"
                    media="(min-width: 992px)"
                  />
                  <img alt="分類圖示" />
                </picture>
                <div>
                  <h3 class="fs-base mb-2 lh-base">拍攝剪輯</h3>
                  <p class="fs-sm" style="color: #6e7485">563 門課程</p>
                </div>
              </a>
            </div>
          </li>
          <li class="col">
            <div class="bg-white rounded-5 p-5">
              <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                <picture>
                  <source
                    srcset="../assets/images/icons/category-3.svg"
                    media="(min-width: 992px)"
                  />
                  <img alt="分類圖示" />
                </picture>
                <div>
                  <h3 class="fs-base mb-2 lh-base">自我成長</h3>
                  <p class="fs-sm" style="color: #6e7485">490 門課程</p>
                </div>
              </a>
            </div>
          </li>
          <li class="col">
            <div class="bg-white rounded-5 p-5">
              <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                <picture>
                  <source
                    srcset="../assets/images/icons/category-4.svg"
                    media="(min-width: 992px)"
                  />
                  <img alt="分類圖示" />
                </picture>
                <div>
                  <h3 class="fs-base mb-2 lh-base">藝術設計</h3>
                  <p class="fs-sm" style="color: #6e7485">230 門課程</p>
                </div>
              </a>
            </div>
          </li>
          <li class="col">
            <div class="bg-white rounded-5 p-5">
              <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                <picture>
                  <source
                    srcset="../assets/images/icons/category-5.svg"
                    media="(min-width: 992px)"
                  />
                  <img alt="分類圖示" />
                </picture>
                <div>
                  <h3 class="fs-base mb-2 lh-base">數據分析</h3>
                  <p class="fs-sm" style="color: #6e7485">395 門課程</p>
                </div>
              </a>
            </div>
          </li>
          <li class="col">
            <div class="bg-white rounded-5 p-5">
              <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                <picture>
                  <source
                    srcset="../assets/images/icons/category-6.svg"
                    media="(min-width: 992px)"
                  />
                  <img alt="分類圖示" />
                </picture>
                <div>
                  <h3 class="fs-base mb-2 lh-base">投資理財</h3>
                  <p class="fs-sm" style="color: #6e7485">486 門課程</p>
                </div>
              </a>
            </div>
          </li>
          <li class="col">
            <div class="bg-white rounded-5 p-5">
              <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                <picture>
                  <source
                    srcset="../assets/images/icons/category-7.svg"
                    media="(min-width: 992px)"
                  />
                  <img alt="分類圖示" />
                </picture>
                <div>
                  <h3 class="fs-base mb-2 lh-base">音樂創作</h3>
                  <p class="fs-sm" style="color: #6e7485">283 門課程</p>
                </div>
              </a>
            </div>
          </li>
          <li class="col">
            <div class="bg-white rounded-5 p-5">
              <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                <picture>
                  <source
                    srcset="../assets/images/icons/category-8.svg"
                    media="(min-width: 992px)"
                  />
                  <img alt="分類圖示" />
                </picture>
                <div>
                  <h3 class="fs-base mb-0 lh-base">探索更多</h3>
                </div>
              </a>
            </div>
          </li>
        </ul>

        <!-- 手機版 -->
        <div id="categorySwiper" class="swiper d-lg-none px-4 px-sm-0 overflow-visible">
          <div class="swiper-wrapper">
            <div class="swiper-slide d-flex flex-column gap-6">
              <div class="bg-white rounded-5 p-5" style="width: 272px">
                <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                  <picture>
                    <source
                      srcset="../assets/images/icons/category-1.svg"
                      media="(max-width: 991px)"
                    />
                    <img alt="分類圖示" />
                  </picture>
                  <div>
                    <h3 class="fs-base mb-2 lh-base">網路行銷</h3>
                    <p class="fs-sm" style="color: #6e7485">342 門課程</p>
                  </div>
                </a>
              </div>
              <div class="bg-white rounded-5 p-5" style="width: 272px">
                <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                  <picture>
                    <source
                      srcset="../assets/images/icons/category-5.svg"
                      media="(max-width: 991px)"
                    />
                    <img alt="分類圖示" />
                  </picture>
                  <div>
                    <h3 class="fs-base mb-2 lh-base">網路行銷</h3>
                    <p class="fs-sm" style="color: #6e7485">342 門課程</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="swiper-slide d-flex flex-column gap-6">
              <div class="bg-white rounded-5 p-5" style="width: 272px">
                <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                  <picture>
                    <source
                      srcset="../assets/images/icons/category-2.svg"
                      media="(max-width: 991px)"
                    />
                    <img alt="分類圖示" />
                  </picture>
                  <div>
                    <h3 class="fs-base mb-2 lh-base">網路行銷</h3>
                    <p class="fs-sm" style="color: #6e7485">342 門課程</p>
                  </div>
                </a>
              </div>
              <div class="bg-white rounded-5 p-5" style="width: 272px">
                <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                  <picture>
                    <source
                      srcset="../assets/images/icons/category-6.svg"
                      media="(max-width: 991px)"
                    />
                    <img alt="分類圖示" />
                  </picture>
                  <div>
                    <h3 class="fs-base mb-2 lh-base">網路行銷</h3>
                    <p class="fs-sm" style="color: #6e7485">342 門課程</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="swiper-slide d-flex flex-column gap-6">
              <div class="bg-white rounded-5 p-5" style="width: 272px">
                <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                  <picture>
                    <source
                      srcset="../assets/images/icons/category-3.svg"
                      media="(max-width: 991px)"
                    />
                    <img alt="分類圖示" />
                  </picture>
                  <div>
                    <h3 class="fs-base mb-2 lh-base">網路行銷</h3>
                    <p class="fs-sm" style="color: #6e7485">342 門課程</p>
                  </div>
                </a>
              </div>
              <div class="bg-white rounded-5 p-5" style="width: 272px">
                <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                  <picture>
                    <source
                      srcset="../assets/images/icons/category-7.svg"
                      media="(max-width: 991px)"
                    />
                    <img alt="分類圖示" />
                  </picture>
                  <div>
                    <h3 class="fs-base mb-2 lh-base">網路行銷</h3>
                    <p class="fs-sm" style="color: #6e7485">342 門課程</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="swiper-slide d-flex flex-column gap-6">
              <div class="bg-white rounded-5 p-5" style="width: 272px">
                <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                  <picture>
                    <source
                      srcset="../assets/images/icons/category-4.svg"
                      media="(max-width: 991px)"
                    />
                    <img alt="分類圖示" />
                  </picture>
                  <div>
                    <h3 class="fs-base mb-2 lh-base">網路行銷</h3>
                    <p class="fs-sm" style="color: #6e7485">342 門課程</p>
                  </div>
                </a>
              </div>
              <div class="bg-white rounded-5 p-5" style="width: 272px">
                <a href="#" class="d-flex align-items-center gap-5 card-link-hover">
                  <picture>
                    <source
                      srcset="../assets/images/icons/category-8.svg"
                      media="(max-width: 991px)"
                    />
                    <img alt="分類圖示" />
                  </picture>
                  <div>
                    <h3 class="fs-base mb-2 lh-base">網路行銷</h3>
                    <p class="fs-sm" style="color: #6e7485">342 門課程</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-5 mb-10 mb-lg-0">
        <div class="d-flex flex-column flex-lg-row gap-2 px-4 px-lg-0">
          <div>
            <img src="../assets/images/deco/polygon-1.png" alt="裝飾圖片" />
          </div>
          <div>
            <h2 class="h1 fs-h1 text-white">想學什麼嗎？<br />一探究竟。</h2>
            <img
              src="../assets/images/deco/line-2.png"
              alt="裝飾圖片"
              class="mw-100 object-fit-cover"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
