<nav class="main-navbar position-fixed top-0 start-0 end-0">
  <div class="container text-neutral-80 pt-lg-10 pb-lg-4">
    <div
      class="navbar-shadow d-flex justify-content-between align-items-center bg-white rounded-lg-pill py-3 py-lg-4 px-lg-10"
    >
      <div class="d-flex align-items-center flex-grow-1 gap-1 gap-xl-2 me-2">
        <a href="index.html" class="py-2 py-lg-4 pe-3 me-xl-1">
          <img src="../assets/images/logo.png" alt="Learning logo" class="logo" />
        </a>

        <!-- 探索選單 -->
        <div class="dropdown flex-shrink-0 d-none d-lg-block">
          <button
            type="button"
            data-bs-toggle="dropdown"
            data-bs-offset="-56,32"
            data-bs-auto-close="outside"
            aria-expanded="false"
            class="btn link-neutral-80 p-4"
            style="border: 0"
          >
            探索<span class="material-symbols-outlined text-neutral-60">keyboard_arrow_down</span>
          </button>

          <div
            class="dropdown-menu rounded-3 text-neutral-80 border-0 p-0 overflow-hidden"
            style="box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.12)"
          >
            <div class="d-flex" style="max-height: 600px">
              <!-- 1 -->
              <section
                class="p-3 bg-neutral-10 border-end border-neutral-40 overflow-y-scroll"
                style="min-width: 232px"
              >
                <h3 class="fs-base fw-normal ps-6 pe-3 py-3">探索全部</h3>
                <ul>
                  <li>
                    <a href="#" class="link-item">
                      音樂<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      攝影<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item active">
                      程式<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      程式<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      藝術<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      人文<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      行銷<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      投資理財<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      心靈成長<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      職場技能<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      生活品味<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      生活品味<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                </ul>
              </section>

              <!-- 2 -->
              <section
                class="p-3 border-end border-neutral-40 overflow-y-scroll"
                style="min-width: 232px"
              >
                <h3 class="fs-base fw-normal ps-6 pe-3 py-3">所有程式</h3>
                <ul>
                  <li>
                    <a href="#" class="link-item">
                      程式入門<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item active">
                      網頁前端<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      網頁後端<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      網站架設<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      資訊安全<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      程式語言<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      遊戲開發<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      資料科學<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      人工智慧<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-item">
                      量化分析<span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </a>
                  </li>
                </ul>
              </section>

              <!-- 3 -->
              <section class="px-6 pt-3 overflow-y-scroll" style="min-width: 399px">
                <h3
                  class="d-flex align-items-center gap-2 fs-base fw-semibold border-bottom border-neutral-40 pb-4 mb-4"
                >
                  <img src="../assets/images/icons/ic_fire.svg" alt="火焰圖示" />
                  熱門網頁前端課程
                </h3>

                <ul>
                  <li>
                    <a
                      href="#"
                      class="card-link-hover d-flex align-items-start gap-2 border-bottom border-neutral-40 pb-6 mb-4"
                    >
                      <div class="position-relative">
                        <img
                          src="../assets/images/course-5.png"
                          alt="課程圖片"
                          width="100px"
                          height="100px"
                          class="rounded-3 object-fit-cover"
                        />
                        <p
                          class="position-absolute top-0 start-0 tag tag-sm tag-danger fw-normal m-1"
                        >
                          8 折
                        </p>
                      </div>

                      <div>
                        <h4 class="fs-base fw-semibold text-neutral-100 mb-4 lh-base">
                          小白也會！從零開始學習 Python 程式設計
                        </h4>

                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <div class="d-flex align-items-center gap-2">
                            <img src="../assets/images/avatar-2.png" alt="大頭貼" />
                            <p>Kelly Hsu</p>
                          </div>
                          <div class="text-end">
                            <p class="text-primary-100 fw-semibold">NT$ 2,480</p>
                            <p class="fs-tiny text-decoration-line-through text-neutral-60">
                              NT$ 3,200
                            </p>
                          </div>
                        </div>

                        <div
                          class="d-flex align-items-center justify-content-between fs-sm border-top border-neutral-40 py-2"
                        >
                          <p>已有 420 位同學加入</p>
                          <p class="d-block align-items-center fw-medium">
                            <span
                              class="material-symbols-outlined fill fs-sm"
                              style="color: #f6bd2b"
                            >
                              star
                            </span>
                            <span class="text-neutral-100">4.0</span>
                            <span class="text-neutral-60">(333)</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a
                      href="#"
                      class="card-link-hover d-flex align-items-start gap-2 border-bottom border-neutral-40 pb-6 mb-4"
                    >
                      <div class="position-relative">
                        <img
                          src="../assets/images/course-5.png"
                          alt="課程圖片"
                          width="100px"
                          height="100px"
                          class="rounded-3 object-fit-cover"
                        />
                        <p
                          class="position-absolute top-0 start-0 tag tag-sm tag-danger fw-normal m-1"
                        >
                          8 折
                        </p>
                      </div>

                      <div>
                        <h4 class="fs-base fw-semibold text-neutral-100 mb-4 lh-base">
                          小白也會！從零開始學習 Python 程式設計
                        </h4>

                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <div class="d-flex align-items-center gap-2">
                            <img src="../assets/images/avatar-2.png" alt="大頭貼" />
                            <p>Kelly Hsu</p>
                          </div>
                          <div class="text-end">
                            <p class="text-primary-100 fw-semibold text-neutral-60">已購買</p>
                            <p class="fs-tiny text-decoration-line-through text-neutral-60">
                              NT$ 3,200
                            </p>
                          </div>
                        </div>

                        <div
                          class="d-flex align-items-center justify-content-between fs-sm border-top border-neutral-40 py-2"
                        >
                          <p>已有 420 位同學加入</p>
                          <p class="d-block align-items-center fw-medium">
                            <span
                              class="material-symbols-outlined fill fs-sm"
                              style="color: #f6bd2b"
                            >
                              star
                            </span>
                            <span class="text-neutral-100">4.0</span>
                            <span class="text-neutral-60">(333)</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a
                      href="#"
                      class="card-link-hover d-flex align-items-start gap-2 border-bottom border-neutral-40 pb-6 mb-4"
                    >
                      <div class="position-relative">
                        <img
                          src="../assets/images/course-5.png"
                          alt="課程圖片"
                          width="100px"
                          height="100px"
                          class="rounded-3 object-fit-cover"
                        />
                        <p
                          class="position-absolute top-0 start-0 tag tag-sm tag-danger fw-normal m-1"
                        >
                          8 折
                        </p>
                      </div>

                      <div>
                        <h4 class="fs-base fw-semibold text-neutral-100 mb-4 lh-base">
                          小白也會！從零開始學習 Python 程式設計
                        </h4>

                        <div class="d-flex align-items-center justify-content-between mb-2">
                          <div class="d-flex align-items-center gap-2">
                            <img src="../assets/images/avatar-2.png" alt="大頭貼" />
                            <p>Kelly Hsu</p>
                          </div>
                          <div class="text-end">
                            <p class="text-primary-100 fw-semibold">NT$ 2,480</p>
                            <p class="fs-tiny text-decoration-line-through text-neutral-60">
                              NT$ 3,200
                            </p>
                          </div>
                        </div>

                        <div
                          class="d-flex align-items-center justify-content-between fs-sm border-top border-neutral-40 py-2"
                        >
                          <p>已有 420 位同學加入</p>
                          <p class="d-block align-items-center fw-medium">
                            <span
                              class="material-symbols-outlined fill fs-sm"
                              style="color: #f6bd2b"
                            >
                              star
                            </span>
                            <span class="text-neutral-100">4.0</span>
                            <span class="text-neutral-60">(333)</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>

        <!-- 搜尋框 -->
        <div class="position-relative w-100 d-none d-lg-block" style="max-width: 425px">
          <span
            class="material-symbols-outlined position-absolute top-50 translate-middle-y"
            style="left: 8px"
          >
            search
          </span>
          <input
            type="text"
            placeholder="搜尋各種音樂、數學、程式及設計課程"
            class="form-control rounded-4 ps-10 pe-20 py-5 w-100"
          />
          <button
            type="button"
            class="position-absolute top-50 translate-middle-y btn btn-sm btn-primary-100"
            style="right: 8px"
          >
            搜尋
          </button>
        </div>
      </div>

      <div class="d-flex align-items-center gap-lg-2 gap-xl-4">
        <!-- 通知選單 -->
        <div class="notification-dropdown dropdown-center">
          <a
            href="#"
            data-bs-toggle="dropdown"
            data-bs-offset="0,39"
            data-bs-auto-close="outside"
            aria-expanded="false"
            class="button d-inline-block link-neutral-80 px-3 py-2"
          >
            <div class="position-relative">
              <span class="material-symbols-outlined align-middle">notifications</span>
              <div
                class="position-absolute top-0 start-100 translate-middle rounded-circle bg-primary-100"
                style="width: 8px; height: 8px"
              ></div>
            </div>
          </a>

          <div
            class="dropdown-menu border-0 rounded-3 p-0 overflow-hidden"
            style="min-width: 324px; box-shadow: 0px 20px 50px 0px #0000001f"
          >
            <div class="d-flex justify-content-end py-2 ps-2 pe-3">
              <a href="#" class="link-primary-100 fw-normal py-1 px-2">
                <span class="material-symbols-outlined fill">check_circle</span>
                全部標記為已讀
              </a>
            </div>
            <ul class="bg-neutral-10 overflow-y-scroll" style="max-height: 255px">
              <li class="border-top border-neutral-40">
                <a
                  href="#"
                  class="dropdown-item text-neutral-80 text-wrap d-flex align-items-center gap-4 py-3 px-4"
                >
                  <div
                    class="flex-shrink-0 d-flex align-items-center justify-content-center rounded-circle bg-info-10"
                    style="width: 40px; height: 40px"
                  >
                    <span class="material-symbols-outlined text-info-100">campaign</span>
                  </div>
                  <div>
                    <p class="text-truncate-2 mb-2">系統通知：6 月 30 日 02:00 網站系統排程更新</p>
                    <p class="fs-sm text-neutral-60">4 天前</p>
                  </div>
                </a>
              </li>
              <li class="border-top border-neutral-40 read">
                <a
                  href="#"
                  class="dropdown-item text-neutral-80 text-wrap d-flex align-items-center gap-4 py-3 px-4"
                >
                  <div
                    class="flex-shrink-0 d-flex align-items-center justify-content-center rounded-circle bg-danger-10"
                    style="width: 40px; height: 40px"
                  >
                    <span class="material-symbols-outlined text-danger-100"
                      >notifications_active</span
                    >
                  </div>
                  <div>
                    <p class="text-truncate-2 mb-2">
                      募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱
                    </p>
                    <p class="fs-sm text-neutral-60">7 天前</p>
                  </div>
                </a>
              </li>
              <li class="border-top border-neutral-40">
                <a
                  href="#"
                  class="dropdown-item text-neutral-80 text-wrap d-flex align-items-center gap-4 py-3 px-4"
                >
                  <div
                    class="flex-shrink-0 d-flex align-items-center justify-content-center rounded-circle bg-danger-10"
                    style="width: 40px; height: 40px"
                  >
                    <span class="material-symbols-outlined text-danger-100"
                      >notifications_active</span
                    >
                  </div>
                  <div>
                    <p class="text-truncate-2 mb-2">
                      募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱
                    </p>
                    <p class="fs-sm text-neutral-60">7 天前</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- 購物車選單 -->
        <div class="cart-dropdown dropdown-center">
          <a
            href="#"
            data-bs-toggle="dropdown"
            data-bs-offset="0,39"
            data-bs-auto-close="outside"
            aria-expanded="false"
            class="button d-inline-block link-neutral-80 px-3 py-2"
          >
            <div class="position-relative">
              <span class="material-symbols-outlined align-middle">shopping_cart</span>
              <div
                class="position-absolute top-0 start-100 translate-middle rounded-circle bg-primary-100 border border-2 border-white"
                style="width: 20px; height: 20px"
              >
                <p
                  class="d-flex align-items-center justify-content-center fs-tiny text-white fw-normal mb-0"
                >
                  2
                </p>
              </div>
            </div>
          </a>

          <div
            class="dropdown-menu border-0 rounded-3 p-3 overflow-hidden"
            style="min-width: 324px; box-shadow: 0px 20px 50px 0px #0000001f"
          >
            購物車
          </div>
        </div>

        <!-- 未登入 -->
        <!-- <button type="button" class="btn btn-primary-100">登入 / 註冊</button> -->

        <!-- 已登入 -->
        <div class="dropdown d-none d-lg-block">
          <a
            href="#"
            data-bs-toggle="dropdown"
            data-bs-offset="40,38"
            aria-expanded="false"
            class="button d-inline-block link-neutral-80 border-0 d-flex align-items-center gap-2 p-0"
          >
            <img src="../assets/images/avatar-1.png" alt="大頭貼" width="44px" height="44px" />
            <p class="fw-semibold">Jessica</p>
          </a>

          <div
            class="dropdown-menu dropdown-menu-end border-0 rounded-3 px-3 py-6"
            style="box-shadow: 0px 25px 50px -12px #0000001f; min-width: 237px"
          >
            <div
              class="d-flex align-content-center gap-2 border-bottom border-neutral-40 pb-4 mb-4"
            >
              <img src="../assets/images/avatar-1.png" alt="大頭貼" width="44px" height="44px" />
              <div>
                <p class="fw-semibold text-neutral-100">Jessica</p>
                <p class="fs-sm text-neutral-60">學習初心者</p>
              </div>
            </div>

            <ul class="border-bottom border-neutral-40 pb-4 mb-4">
              <li>
                <a href="#" class="link-item justify-content-start gap-2">
                  <span class="icon gg--profile text-neutral-60">account_circle</span>
                  個人檔案
                </a>
              </li>
              <li>
                <a href="#" class="link-item justify-content-start gap-2">
                  <span class="bi bi-bookmark-fill text-neutral-60" style="font-size: 23px"></span>
                  我的收藏
                </a>
              </li>
              <li>
                <a href="#" class="link-item justify-content-start gap-2">
                  <span class="icon uil--setting text-neutral-60">settings</span>
                  帳號設定
                </a>
              </li>
            </ul>

            <ul class="border-bottom border-neutral-40 pb-4 mb-4">
              <li>
                <a href="#" class="link-item justify-content-start gap-2">
                  <span class="icon lets-icons--order text-neutral-60">account_circle</span>
                  訂單記錄
                </a>
              </li>
              <li>
                <a href="#" class="link-item justify-content-start gap-2">
                  <span class="icon ic--baseline-edit text-neutral-60">edit</span>
                  作業成果
                </a>
              </li>
            </ul>

            <a href="#" class="link-item justify-content-start gap-2">
              <span class="icon tabler--logout text-neutral-60"></span>
              登出
            </a>
          </div>
        </div>

        <!-- TODO: 手機版選單 -->
        <a href="#" class="d-block d-lg-none p-2">
          <span class="material-symbols-outlined">menu</span>
        </a>
      </div>
    </div>
  </div>
</nav>
