.form-select-wrap {
  position: relative;

  &:has(.form-select:focus) {
    &:after {
      color: $dark;
      transform: rotate(180deg);
    }
  }

  &::after {
    position: absolute;
    top: 16px;
    right: 16px;
    content: 'keyboard_arrow_down';
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    line-height: 1;
    color: $neutral-80;
    border: 0;
    transition: all 0.3s;
  }

  .form-select {
    background: none;

    &:active {
      border-color: $neutral-80;
    }
  }
}