$index-header-item-width: 1600px;
$index-header-item-spacer: 40px;

.index-header {
  position: relative;

  @media (max-width: #{$index-header-item-width + $index-header-item-spacer * 2}) {
    padding: 0 $index-header-item-spacer;
  }

  @include media-breakpoint-down(lg) {
    padding: 0;
  }
}

#indexHeaderSwiper {
  position: static;
  height: calc(100vh - $navbar-height-lg - 16px);

  @media (max-width: #{$index-header-item-width + calc($index-header-item-spacer / 2)}) {
    overflow: hidden;
    border-radius: 80px;
  }

  @include media-breakpoint-down(lg) {
    height: 456px;
    border-radius: 0px;
  }

  .swiper-slide {
    position: relative;
    width: 100%;
    max-width: $index-header-item-width;
    border-radius: 80px;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      border-radius: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      @include media-breakpoint-down(lg) {
        height: 400px;
      }
    }

    .content {
      display: none;
      bottom: 112px;

      @include media-breakpoint-down(lg) {
        bottom: 56px;
      }
    }
  }

  .swiper-slide-active {
    &::after {
      content: '';
      position: absolute;
      top: -300px;
      left: -240px;
      width: 720px;
      height: 720px;
      background-image: url(../images/deco/flower-4.png);

      @include media-breakpoint-down(lg) {
        background-image: none;
      }
    }

    .content {
      display: block;
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(237, 237, 237, 0.7);
    }
  }

  .swiper-title-wrapper,
  .swiper-button-wrapper {
    position: absolute;
    inset: 0;
    max-width: $index-header-item-width;
    margin: 0 auto;
  }

  // navigation
  .swiper-button-prev {
    left: 0;
    transform: translateX(-50%);

    @media (max-width: #{$index-header-item-width + calc($index-header-item-spacer / 2)}) {
      padding-left: calc($index-header-item-spacer / 2);
    }
  }

  .swiper-button-next {
    right: 0;
    transform: translateX(50%);

    @media (max-width: #{$index-header-item-width + calc($index-header-item-spacer / 2)}) {
      padding-right: calc($index-header-item-spacer / 2);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    @media (max-width: #{$index-header-item-width + $swiper-button-width + calc($index-header-item-spacer / 2)}) {
      transform: none;
    }
  }

  .swiper-title-wrapper {
    @media (max-width: #{$index-header-item-width + $index-header-item-spacer * 2}) {
      position: static;
    }

    .title {
      position: absolute;
      z-index: 1;
      bottom: 0;
      border-top-right-radius: 100px;
      border-bottom-left-radius: 80px;
      overflow: hidden;

      @include media-breakpoint-down(lg) {
        left: 0;
        right: 0;
        border-radius: 0;
      }
    }

    .link {
      .material-symbols-outlined {
        transition: transform 0.5s;
      }

      &:hover {
        .material-symbols-outlined {
          transform: translateX(16px);
        }
      }
    }
  }

  .swiper-mask-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;

    @media (max-width: #{$index-header-item-width + $swiper-button-width + calc($index-header-item-spacer / 2)}) {
      display: none;
    }

    .box {
      position: absolute;
      inset: 0;
      max-width: calc($index-header-item-width + 80px);
      margin: 0 auto;
    }

    .item {
      position: absolute;
      z-index: 1;
      width: 40px;
      height: 100%;
      background-color: $body-bg;

      .path-wrapper {
        width: calc(100% + 160px);
        height: 100%;
        left: -80px;
        right: 80px;

        &::after,
        &::before {
          content: '';
          position: absolute;
          width: 160px;
          height: 160px;
          border-radius: 100%;
          box-shadow: 0 0 0 40px $body-bg;
        }

        &::after {
          left: 120px;
        }
        &::before {
          left: -79px;
        }
      }

      .top-0 {
        &::after,
        &::before {
          top: 0;
        }

        &::after {
          clip-path: inset(0 80px 80px 0);
        }

        &::before {
          clip-path: inset(0px 0px 80px 80px);
        }
      }

      .bottom-0 {
        &::after,
        &::before {
          bottom: 0;
        }

        &::after {
          clip-path: inset(80px 80px 0px 0px);
        }

        &::before {
          clip-path: inset(80px 0px 0px 80px);
        }
      }
    }
  }
}

/* ------------------------- */

.index-fundraising-course {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100px;
    width: 560px;
    height: 560px;
    background-image: url(../images/deco/flower-2.png);

    @include media-breakpoint-down(lg) {
      left: 0;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
      background-size: cover;
    }
  }
}

/* ------------------------- */

.index-course-section {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 480px;
    height: 480px;
    transform: translate(-50%, -50%);
    background-image: url(../images/deco/flower-3.png);

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}

/* ------------------------- */

.index-teacher-section {
  .swiper-slide {
    @include media-breakpoint-down(lg) {
      flex-basis: auto;
      width: 375px;
      max-width: none;
    }
  }

  .avatar {
    width: 336px;
    height: 400px;

    @include media-breakpoint-down(lg) {
      width: 291px;
      height: 356px;
    }
  }
}
