<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <%- include('./layout/head', { title: '首頁' }); -%>
  <body>
    <%- include('./layout/navbar'); -%>

    <header class="index-header mb-lg-18">
      <div id="indexHeaderSwiper" class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide position-relative">
            <img src="../assets/images/hero-2.png" alt="hero" />

            <!-- 文字內容 -->
            <div class="content position-absolute start-0 end-0 z-3">
              <div class="px-3">
                <div
                  class="d-flex align-items-center gap-2 w-fit bg-white rounded-pill mx-auto ms-lg-10 p-2 p-lg-4 pe-6 pe-lg-8 mb-12 mb-lg-8"
                >
                  <p class="tag tag-primary text-nowrap">熱銷課程 🔥</p>
                  <p class="h6 fs-sm fs-lg-h6 fw-semibold w-fit mb-0">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="../assets/images/hero-3.png" alt="hero" />

            <!-- 文字內容 -->
            <div class="content position-absolute start-0 end-0 z-3">
              <div class="px-3">
                <div
                  class="d-flex align-items-center gap-2 w-fit bg-white rounded-pill mx-auto ms-lg-10 p-2 p-lg-4 pe-6 pe-lg-8 mb-12 mb-lg-8"
                >
                  <p class="tag tag-primary text-nowrap">熱銷課程 🔥</p>
                  <p class="h6 fs-sm fs-lg-h6 fw-semibold w-fit mb-0">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="../assets/images/hero-2.png" alt="hero" />

            <!-- 文字內容 -->
            <div class="content position-absolute start-0 end-0 z-3">
              <div class="px-3">
                <div
                  class="d-flex align-items-center gap-2 w-fit bg-white rounded-pill mx-auto ms-lg-10 p-2 p-lg-4 pe-6 pe-lg-8 mb-12 mb-lg-8"
                >
                  <p class="tag tag-primary text-nowrap">熱銷課程 🔥</p>
                  <p class="h6 fs-sm fs-lg-h6 fw-semibold w-fit mb-0">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="../assets/images/hero-1.png" alt="hero" />

            <!-- 文字內容 -->
            <div class="content position-absolute start-0 end-0 z-3">
              <div class="px-3">
                <div
                  class="d-flex align-items-center gap-2 w-fit bg-white rounded-pill mx-auto ms-lg-10 p-2 p-lg-4 pe-6 pe-lg-8 mb-12 mb-lg-8"
                >
                  <p class="tag tag-primary text-nowrap">熱銷課程 🔥</p>
                  <p class="h6 fs-sm fs-lg-h6 fw-semibold w-fit mb-0">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 按鈕 -->
        <div class="swiper-button-wrapper">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- 分頁 -->
          <div class="swiper-pagination d-block d-lg-none mb-4" style="bottom: 56px"></div>
        </div>

        <!-- 標題連結 -->
        <div class="swiper-title-wrapper">
          <h1 class="title mb-0">
            <a
              href="course-list.html"
              class="link fs-sm fs-lg-h2 d-flex justify-content-center justify-content-lg-start align-items-center gap-4 bg-primary-100 text-white py-4 py-lg-8 ps-lg-20 ps-xl-30 pe-lg-20 mb-0"
            >
              探索感興趣的課程，今天立即上課
              <span class="material-symbols-outlined fs-4 fs-lg-11"> arrow_right_alt </span>
            </a>
          </h1>
        </div>

        <!-- 遮罩 -->
        <div class="swiper-mask-wrapper">
          <div class="box">
            <div class="item start-0">
              <div class="path-wrapper position-absolute top-0"></div>
              <div class="path-wrapper position-absolute bottom-0"></div>
            </div>
            <div class="item end-0">
              <div class="path-wrapper position-absolute top-0"></div>
              <div class="path-wrapper position-absolute bottom-0"></div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <!-- 火熱募資課程 -->
      <section class="index-fundraising-course section overflow-x-hidden">
        <div class="container">
          <div class="row flex-column flex-lg-row">
            <div class="col-lg-4">
              <div class="mb-10">
                <h2 class="h1 fs-h1">火熱募資課程</h2>
                <p class="fs-5 fs-lg-base">現在購買最優惠✨</p>
              </div>

              <!-- PC 版 -->
              <ul class="d-none d-lg-flex flex-wrap gap-3 mb-6 mb-lg-10">
                <li>
                  <a href="#" class="btn btn-sm btn-primary-100 fw-normal">全部</a>
                </li>
                <li>
                  <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                    🍽️ 烹飪料理
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                    📊 數據分析
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                    🎼 音樂製作
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                    📝 創意寫作
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                    💬 語言學習
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                    🖌️ 藝術創作
                  </a>
                </li>
              </ul>

              <!-- 手機版 -->
              <div id="indexFundraisingCategory" class="swiper overflow-visible d-block d-lg-none">
                <ul class="swiper-wrapper mb-6 mb-lg-10">
                  <li class="swiper-slide w-fit">
                    <a href="#" class="btn btn-sm btn-primary-100 fw-normal">全部</a>
                  </li>
                  <li class="swiper-slide w-fit">
                    <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                      🍽️ 烹飪料理
                    </a>
                  </li>
                  <li class="swiper-slide w-fit">
                    <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                      📊 數據分析
                    </a>
                  </li>
                  <li class="swiper-slide w-fit">
                    <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                      🎼 音樂製作
                    </a>
                  </li>
                  <li class="swiper-slide w-fit">
                    <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                      📝 創意寫作
                    </a>
                  </li>
                  <li class="swiper-slide w-fit">
                    <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                      💬 語言學習
                    </a>
                  </li>
                  <li class="swiper-slide w-fit">
                    <a href="#" class="btn btn-sm btn-outline-neutral-40 text-neutral-80 fw-normal">
                      🖌️ 藝術創作
                    </a>
                  </li>
                </ul>
              </div>

              <a href="#" class="btn btn-primary-100 d-none d-lg-inline-block">更多募資課程</a>
            </div>

            <div class="col-lg-8">
              <!-- PC 版 -->
              <ul class="row row-cols-lg-2 row-gap-lg-6 flex-lg-wrap w-auto pb-14 d-none d-lg-flex">
                <li class="col h-auto">
                  <a href="#" class="card-link-hover bg-white h-100">
                    <div class="d-flex flex-column rounded-5 overflow-hidden shadow h-100">
                      <div class="position-relative">
                        <img
                          src="../assets/images/course-4.png"
                          alt="課程圖片"
                          class="object-fit-cover"
                          style="height: 272px"
                        />
                        <p
                          class="tag tag-primary ts-subtitle w-fit position-absolute top-0 start-0 m-4"
                        >
                          優惠倒數 10 天
                        </p>
                      </div>

                      <!-- 課程資訊 -->
                      <div class="d-flex flex-column justify-content-between py-6 px-4 h-100">
                        <div>
                          <h3 class="h6">創意寫作工坊：從靈感到出版的全過程</h3>
                          <div class="d-flex align-items-center gap-2 mb-6">
                            <img src="../assets/images/avatar-2.png" alt="講師頭貼" width="44px" />
                            <p class="text-neutral-80">Kelly Hsu</p>
                          </div>
                        </div>

                        <div>
                          <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="text-primary-100 ts-title">募資進度 81 %</p>
                            <p class="ts-subtitle fw-normal text-neutral-80">已有 521 位同學加入</p>
                          </div>

                          <!-- 進度條 -->
                          <div
                            class="progress mb-2"
                            role="progressbar"
                            aria-label="Basic example"
                            aria-valuenow="81"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            <div class="progress-bar" style="width: 81%"></div>
                          </div>

                          <div class="d-flex align-items-center gap-2">
                            <p class="h6 mb-0">NT$ 2,480</p>
                            <p class="text-decoration-line-through fs-sm" style="color: #808080">
                              NT$ 3,200
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <li class="col h-auto">
                  <a href="#" class="card-link-hover bg-white h-100">
                    <div class="d-flex flex-column rounded-5 overflow-hidden shadow h-100">
                      <div class="position-relative">
                        <img
                          src="../assets/images/course-1.png"
                          alt="課程圖片"
                          class="object-fit-cover"
                          style="height: 272px"
                        />
                        <p
                          class="tag tag-primary ts-subtitle w-fit position-absolute top-0 start-0 m-4"
                        >
                          優惠倒數 17 天
                        </p>
                      </div>

                      <!-- 課程資訊 -->
                      <div class="d-flex flex-column justify-content-between py-6 px-4 h-100">
                        <div>
                          <h3 class="h6">健康廚房：營養均衡的素食料理指南</h3>
                          <div class="d-flex align-items-center gap-2 mb-6">
                            <img src="../assets/images/avatar-2.png" alt="講師頭貼" width="44px" />
                            <p class="text-neutral-80">希姐帶你吃</p>
                          </div>
                        </div>

                        <div>
                          <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="text-primary-100 ts-title">募資進度 281 %</p>
                            <p class="ts-subtitle fw-normal text-neutral-80">
                              已有 1,397 位同學加入
                            </p>
                          </div>

                          <!-- 進度條 -->
                          <div
                            class="progress mb-2"
                            role="progressbar"
                            aria-label="Basic example"
                            aria-valuenow="281"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            <div class="progress-bar" style="width: 281%"></div>
                          </div>

                          <div class="d-flex align-items-center gap-2">
                            <p class="h6 mb-0">NT$ 1,680</p>
                            <p class="text-decoration-line-through fs-sm" style="color: #808080">
                              NT$ 2,980
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <li class="col h-auto">
                  <a href="#" class="card-link-hover bg-white h-100">
                    <div class="d-flex flex-column rounded-5 overflow-hidden shadow h-100">
                      <div class="position-relative">
                        <img
                          src="../assets/images/course-2.png"
                          alt="課程圖片"
                          class="object-fit-cover"
                          style="height: 272px"
                        />
                        <p
                          class="tag tag-primary ts-subtitle w-fit position-absolute top-0 start-0 m-4"
                        >
                          優惠倒數 9 天
                        </p>
                      </div>

                      <!-- 課程資訊 -->
                      <div class="d-flex flex-column justify-content-between py-6 px-4 h-100">
                        <div>
                          <h3 class="h6">創意寫作工坊：從靈感到出版的全過程</h3>
                          <div class="d-flex align-items-center gap-2 mb-6">
                            <img src="../assets/images/avatar-2.png" alt="講師頭貼" width="44px" />
                            <p class="text-neutral-80">K.Dee</p>
                          </div>
                        </div>

                        <div>
                          <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="text-primary-100 ts-title">募資進度 76 %</p>
                            <p class="ts-subtitle fw-normal text-neutral-80">已有 420 位同學加入</p>
                          </div>

                          <!-- 進度條 -->
                          <div
                            class="progress mb-2"
                            role="progressbar"
                            aria-label="Basic example"
                            aria-valuenow="76"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            <div class="progress-bar" style="width: 76%"></div>
                          </div>

                          <div class="d-flex align-items-center gap-2">
                            <p class="h6 mb-0">NT$ 2,680</p>
                            <p class="text-decoration-line-through fs-sm" style="color: #808080">
                              NT$ 3,200
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <li class="col h-auto">
                  <a href="#" class="card-link-hover bg-white h-100">
                    <div class="d-flex flex-column rounded-5 overflow-hidden shadow h-100">
                      <div class="position-relative">
                        <img
                          src="../assets/images/course-3.png"
                          alt="課程圖片"
                          class="object-fit-cover"
                          style="height: 272px"
                        />
                        <p
                          class="tag tag-primary ts-subtitle w-fit position-absolute top-0 start-0 m-4"
                        >
                          優惠倒數 1 天
                        </p>
                      </div>

                      <!-- 課程資訊 -->
                      <div class="d-flex flex-column justify-content-between py-6 px-4 h-100">
                        <div>
                          <h3 class="h6">掌握商業攝影：打造你的專業攝影事業</h3>
                          <div class="d-flex align-items-center gap-2 mb-6">
                            <img src="../assets/images/avatar-2.png" alt="講師頭貼" width="44px" />
                            <p class="text-neutral-80">Mikeeee</p>
                          </div>
                        </div>

                        <div>
                          <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="text-primary-100 ts-title">募資進度 98 %</p>
                            <p class="ts-subtitle fw-normal text-neutral-80">已有 290 位同學加入</p>
                          </div>

                          <!-- 進度條 -->
                          <div
                            class="progress mb-2"
                            role="progressbar"
                            aria-label="Basic example"
                            aria-valuenow="98"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            <div class="progress-bar" style="width: 98%"></div>
                          </div>

                          <div class="d-flex align-items-center gap-2">
                            <p class="h6 mb-0">NT$ 1,980</p>
                            <p class="text-decoration-line-through fs-sm" style="color: #808080">
                              NT$ 3,200
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>

              <!-- 手機版 -->
              <div id="indexFundraisingList" class="swiper overflow-visible d-block d-lg-none">
                <ul class="swiper-wrapper pb-14">
                  <li class="swiper-slide w-fit h-auto">
                    <a
                      href="#"
                      class="card-link-hover bg-white h-100 d-block"
                      style="max-width: 320px"
                    >
                      <div class="d-flex flex-column rounded-5 overflow-hidden shadow h-100">
                        <div class="position-relative">
                          <img
                            src="../assets/images/course-4.png"
                            alt="課程圖片"
                            class="object-fit-cover"
                            style="height: 272px"
                          />
                          <p
                            class="tag tag-primary ts-subtitle w-fit position-absolute top-0 start-0 m-4"
                          >
                            優惠倒數 10 天
                          </p>
                        </div>

                        <!-- 課程資訊 -->
                        <div class="d-flex flex-column justify-content-between py-6 px-4 h-100">
                          <div>
                            <h3 class="h6">創意寫作工坊：從靈感到出版的全過程</h3>
                            <div class="d-flex align-items-center gap-2 mb-6">
                              <img
                                src="../assets/images/avatar-2.png"
                                alt="講師頭貼"
                                width="44px"
                              />
                              <p class="text-neutral-80">Kelly Hsu</p>
                            </div>
                          </div>

                          <div>
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <p class="text-primary-100 ts-title">募資進度 81 %</p>
                              <p class="ts-subtitle fw-normal text-neutral-80">
                                已有 521 位同學加入
                              </p>
                            </div>

                            <!-- 進度條 -->
                            <div
                              class="progress mb-2"
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="81"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >
                              <div class="progress-bar" style="width: 81%"></div>
                            </div>

                            <div class="d-flex align-items-center gap-2">
                              <p class="h6 mb-0">NT$ 2,480</p>
                              <p class="text-decoration-line-through fs-sm" style="color: #808080">
                                NT$ 3,200
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="swiper-slide w-fit h-auto">
                    <a
                      href="#"
                      class="card-link-hover bg-white h-100 d-block"
                      style="max-width: 320px"
                    >
                      <div class="d-flex flex-column rounded-5 overflow-hidden shadow h-100">
                        <div class="position-relative">
                          <img
                            src="../assets/images/course-1.png"
                            alt="課程圖片"
                            class="object-fit-cover"
                            style="height: 272px"
                          />
                          <p
                            class="tag tag-primary ts-subtitle w-fit position-absolute top-0 start-0 m-4"
                          >
                            優惠倒數 17 天
                          </p>
                        </div>

                        <!-- 課程資訊 -->
                        <div class="d-flex flex-column justify-content-between py-6 px-4 h-100">
                          <div>
                            <h3 class="h6">健康廚房：營養均衡的素食料理指南</h3>
                            <div class="d-flex align-items-center gap-2 mb-6">
                              <img
                                src="../assets/images/avatar-2.png"
                                alt="講師頭貼"
                                width="44px"
                              />
                              <p class="text-neutral-80">希姐帶你吃</p>
                            </div>
                          </div>

                          <div>
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <p class="text-primary-100 ts-title">募資進度 281 %</p>
                              <p class="ts-subtitle fw-normal text-neutral-80">
                                已有 1,397 位同學加入
                              </p>
                            </div>

                            <!-- 進度條 -->
                            <div
                              class="progress mb-2"
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="281"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >
                              <div class="progress-bar" style="width: 281%"></div>
                            </div>

                            <div class="d-flex align-items-center gap-2">
                              <p class="h6 mb-0">NT$ 1,680</p>
                              <p class="text-decoration-line-through fs-sm" style="color: #808080">
                                NT$ 2,980
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="swiper-slide w-fit h-auto">
                    <a
                      href="#"
                      class="card-link-hover bg-white h-100 d-block"
                      style="max-width: 320px"
                    >
                      <div class="d-flex flex-column rounded-5 overflow-hidden shadow h-100">
                        <div class="position-relative">
                          <img
                            src="../assets/images/course-2.png"
                            alt="課程圖片"
                            class="object-fit-cover"
                            style="height: 272px"
                          />
                          <p
                            class="tag tag-primary ts-subtitle w-fit position-absolute top-0 start-0 m-4"
                          >
                            優惠倒數 9 天
                          </p>
                        </div>

                        <!-- 課程資訊 -->
                        <div class="d-flex flex-column justify-content-between py-6 px-4 h-100">
                          <div>
                            <h3 class="h6">創意寫作工坊：從靈感到出版的全過程</h3>
                            <div class="d-flex align-items-center gap-2 mb-6">
                              <img
                                src="../assets/images/avatar-2.png"
                                alt="講師頭貼"
                                width="44px"
                              />
                              <p class="text-neutral-80">K.Dee</p>
                            </div>
                          </div>

                          <div>
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <p class="text-primary-100 ts-title">募資進度 76 %</p>
                              <p class="ts-subtitle fw-normal text-neutral-80">
                                已有 420 位同學加入
                              </p>
                            </div>

                            <!-- 進度條 -->
                            <div
                              class="progress mb-2"
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="76"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >
                              <div class="progress-bar" style="width: 76%"></div>
                            </div>

                            <div class="d-flex align-items-center gap-2">
                              <p class="h6 mb-0">NT$ 2,680</p>
                              <p class="text-decoration-line-through fs-sm" style="color: #808080">
                                NT$ 3,200
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="swiper-slide w-fit h-auto">
                    <a
                      href="#"
                      class="card-link-hover bg-white h-100 d-block"
                      style="max-width: 320px"
                    >
                      <div class="d-flex flex-column rounded-5 overflow-hidden shadow h-100">
                        <div class="position-relative">
                          <img
                            src="../assets/images/course-3.png"
                            alt="課程圖片"
                            class="object-fit-cover"
                            style="height: 272px"
                          />
                          <p
                            class="tag tag-primary ts-subtitle w-fit position-absolute top-0 start-0 m-4"
                          >
                            優惠倒數 1 天
                          </p>
                        </div>

                        <!-- 課程資訊 -->
                        <div class="d-flex flex-column justify-content-between py-6 px-4 h-100">
                          <div>
                            <h3 class="h6">掌握商業攝影：打造你的專業攝影事業</h3>
                            <div class="d-flex align-items-center gap-2 mb-6">
                              <img
                                src="../assets/images/avatar-2.png"
                                alt="講師頭貼"
                                width="44px"
                              />
                              <p class="text-neutral-80">Mikeeee</p>
                            </div>
                          </div>

                          <div>
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <p class="text-primary-100 ts-title">募資進度 98 %</p>
                              <p class="ts-subtitle fw-normal text-neutral-80">
                                已有 290 位同學加入
                              </p>
                            </div>

                            <!-- 進度條 -->
                            <div
                              class="progress mb-2"
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="98"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >
                              <div class="progress-bar" style="width: 98%"></div>
                            </div>

                            <div class="d-flex align-items-center gap-2">
                              <p class="h6 mb-0">NT$ 1,980</p>
                              <p class="text-decoration-line-through fs-sm" style="color: #808080">
                                NT$ 3,200
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>

                <!-- 分頁 -->
                <div class="swiper-pagination d-lg-none" style="bottom: 16px"></div>
              </div>

              <a href="#" class="btn btn-primary-100 d-block d-lg-none">更多募資課程</a>
            </div>
          </div>
        </div>
      </section>

      <!-- 看看大家都買了什麼 -->
      <section
        class="section index-course-section"
        style="background: linear-gradient(180deg, #f0f6ff 0%, #ffffff 100%)"
      >
        <div class="container">
          <div class="d-flex flex-column align-items-lg-center mb-6 mb-lg-10">
            <h2 class="title-deco h1 fs-h1">
              <span>看看大家<br class="d-block d-lg-none" />都買了什麼</span>
            </h2>
            <p class="fs-5">熱銷課程一次看！✨</p>
          </div>

          <!-- 輪播 -->
          <%- include('./layout/course-card-swiper'); -%>
        </div>
      </section>

      <!-- 想學什麼嗎 -->
      <%- include('./layout/category-section'); -%>

      <!-- 頂尖講師帶你飛 -->
      <section class="section index-teacher-section mb-18 mb-lg-20 overflow-hidden">
        <div class="container">
          <div class="d-flex flex-column align-items-lg-center mb-6 mb-lg-10">
            <h2 class="title-deco h1 fs-h1">
              <span>頂尖講師<br class="d-block d-lg-none" />帶你飛</span>
            </h2>
            <p class="text-neutral-80 fs-5 fs-lg-4">超真實學員評價，這些講師你絕對不能錯過！</p>
          </div>

          <!-- PC 版 -->
          <ul
            class="row row-cols-lg-3 d-none d-lg-flex flex-nowrap w-auto"
            style="margin-top: -56px"
          >
            <li class="swiper-slide col h-auto d-flex flex-column">
              <div
                class="position-relative start-0 end-0 z-n1 ms-auto ms-lg-10 ms-xl-20 w-fit"
                style="bottom: -56px"
              >
                <img
                  src="../assets/images/teacher-3.png"
                  alt="老師頭貼"
                  class="avatar object-fit-cover d-block rounded-5 mw-100"
                />
              </div>

              <div
                class="d-flex flex-column justify-content-between flex-grow-1 rounded-5 bg-white shadow p-6 p-lg-4 p-xl-6 me-6 me-lg-4 me-xl-8"
              >
                <div class="mb-auto">
                  <h3 class="fs-h6 mb-6">Mr. Robert</h3>

                  <div class="mb-6">
                    <div class="d-flex align-items-center gap-2 mb-2">
                      <p class="tag tag-sm tag-neutral px-3">音樂創作</p>

                      <p class="d-block align-items-center fw-medium">
                        <span class="material-symbols-outlined fill fs-sm" style="color: #f6bd2b">
                          star
                        </span>
                        <span class="text-neutral-100">4.0</span>
                        <span class="text-neutral-60">(333)</span>
                      </p>
                    </div>

                    <p>
                      Robert
                      的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。
                    </p>
                  </div>
                </div>

                <a href="#" class="btn btn-primary-100 d-block px-0 text-center">
                  探索 Mr. Robert 的教學課程
                </a>
              </div>
            </li>

            <li class="swiper-slide col h-auto d-flex flex-column">
              <div
                class="position-relative start-0 end-0 z-n1 ms-auto ms-lg-10 ms-xl-20 w-fit"
                style="bottom: -56px"
              >
                <img
                  src="../assets/images/teacher-1.png"
                  alt="老師頭貼"
                  class="avatar object-fit-cover d-block rounded-5 mw-100"
                />
              </div>

              <div
                class="d-flex flex-column justify-content-between flex-grow-1 rounded-5 bg-white shadow p-6 p-lg-5 p-xl-6 me-6 me-lg-4 me-xl-8"
              >
                <div class="mb-auto">
                  <h3 class="fs-h6 mb-6">Kelly Beck</h3>

                  <div class="mb-6">
                    <div class="d-flex align-items-center gap-2 mb-2">
                      <p class="tag tag-sm tag-neutral px-3">英文寫作</p>

                      <p class="d-block align-items-center fw-medium">
                        <span class="material-symbols-outlined fill fs-sm" style="color: #f6bd2b">
                          star
                        </span>
                        <span class="text-neutral-100">4.8</span>
                        <span class="text-neutral-60">(281)</span>
                      </p>
                    </div>

                    <p>
                      Kelly 的教學方式靈活且富有創意，能夠有效提升學生的寫作技巧和自信心。Kelly
                      注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。
                    </p>
                  </div>
                </div>

                <a href="#" class="btn btn-primary-100 d-block px-0 text-center">
                  探索 Mr. Robert 的教學課程
                </a>
              </div>
            </li>

            <li class="swiper-slide col h-auto d-flex flex-column">
              <div
                class="position-relative start-0 end-0 z-n1 ms-auto ms-lg-10 ms-xl-20 w-fit"
                style="bottom: -56px"
              >
                <img
                  src="../assets/images/teacher-2.png"
                  alt="老師頭貼"
                  class="avatar object-fit-cover d-block rounded-5 mw-100"
                />
              </div>

              <div
                class="d-flex flex-column justify-content-between flex-grow-1 rounded-5 bg-white shadow p-6 p-lg-5 p-xl-6 me-6 me-lg-4 me-xl-8"
              >
                <div class="mb-auto">
                  <h3 class="fs-h6 mb-6">K. Lee</h3>

                  <div class="mb-6">
                    <div class="d-flex align-items-center gap-2 mb-2">
                      <p class="tag tag-sm tag-neutral px-3">音樂創作</p>

                      <p class="d-block align-items-center fw-medium">
                        <span class="material-symbols-outlined fill fs-sm" style="color: #f6bd2b">
                          star
                        </span>
                        <span class="text-neutral-100">4.8</span>
                        <span class="text-neutral-60">(1,245)</span>
                      </p>
                    </div>

                    <p>
                      K. Lee
                      的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K.
                      Lee 的課程讓他們對音樂產生了濃厚的興趣！
                    </p>
                  </div>
                </div>

                <a href="#" class="btn btn-primary-100 d-block px-0 text-center">
                  探索 Mr. Robert 的教學課程
                </a>
              </div>
            </li>
          </ul>

          <!-- 手機版 -->
          <div
            id="indexTeacherSwiper"
            class="swiper overflow-visible d-lg-none"
            style="margin-top: -56px"
          >
            <ul class="swiper-wrapper">
              <li class="swiper-slide w-fit h-auto">
                <div class="d-flex flex-column h-100" style="width: 351px">
                  <div
                    class="position-relative start-0 end-0 z-n1 ms-auto ms-lg-10 ms-xl-20 w-fit"
                    style="bottom: -56px"
                  >
                    <img
                      src="../assets/images/teacher-3.png"
                      alt="老師頭貼"
                      class="avatar object-fit-cover d-block rounded-5 mw-100"
                    />
                  </div>

                  <div
                    class="d-flex flex-column justify-content-between flex-grow-1 rounded-5 bg-white shadow p-6 p-lg-4 p-xl-6 me-6 me-lg-4 me-xl-8"
                  >
                    <div class="mb-auto">
                      <h3 class="fs-h6 mb-6">Mr. Robert</h3>

                      <div class="mb-6">
                        <div class="d-flex align-items-center gap-2 mb-2">
                          <p class="tag tag-sm tag-neutral px-3">音樂創作</p>

                          <p class="d-block align-items-center fw-medium">
                            <span
                              class="material-symbols-outlined fill fs-sm"
                              style="color: #f6bd2b"
                            >
                              star
                            </span>
                            <span class="text-neutral-100">4.0</span>
                            <span class="text-neutral-60">(333)</span>
                          </p>
                        </div>

                        <p>
                          Robert
                          的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。
                        </p>
                      </div>
                    </div>

                    <a href="#" class="btn btn-primary-100 d-block px-0 text-center">
                      探索 Mr. Robert 的教學課程
                    </a>
                  </div>
                </div>
              </li>

              <li class="swiper-slide w-fit h-auto">
                <div class="d-flex flex-column h-100" style="width: 351px">
                  <div
                    class="position-relative start-0 end-0 z-n1 ms-auto ms-lg-10 ms-xl-20 w-fit"
                    style="bottom: -56px"
                  >
                    <img
                      src="../assets/images/teacher-1.png"
                      alt="老師頭貼"
                      class="avatar object-fit-cover d-block rounded-5 mw-100"
                    />
                  </div>

                  <div
                    class="d-flex flex-column justify-content-between flex-grow-1 rounded-5 bg-white shadow p-6 p-lg-5 p-xl-6 me-6 me-lg-4 me-xl-8"
                  >
                    <div class="mb-auto">
                      <h3 class="fs-h6 mb-6">Kelly Beck</h3>

                      <div class="mb-6">
                        <div class="d-flex align-items-center gap-2 mb-2">
                          <p class="tag tag-sm tag-neutral px-3">英文寫作</p>

                          <p class="d-block align-items-center fw-medium">
                            <span
                              class="material-symbols-outlined fill fs-sm"
                              style="color: #f6bd2b"
                            >
                              star
                            </span>
                            <span class="text-neutral-100">4.8</span>
                            <span class="text-neutral-60">(281)</span>
                          </p>
                        </div>

                        <p>
                          Kelly 的教學方式靈活且富有創意，能夠有效提升學生的寫作技巧和自信心。Kelly
                          注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。
                        </p>
                      </div>
                    </div>

                    <a href="#" class="btn btn-primary-100 d-block px-0 text-center">
                      探索 Mr. Robert 的教學課程
                    </a>
                  </div>
                </div>
              </li>

              <li class="swiper-slide w-fit h-auto">
                <div class="d-flex flex-column h-100" style="width: 351px">
                  <div
                    class="position-relative start-0 end-0 z-n1 ms-auto ms-lg-10 ms-xl-20 w-fit"
                    style="bottom: -56px"
                  >
                    <img
                      src="../assets/images/teacher-2.png"
                      alt="老師頭貼"
                      class="avatar object-fit-cover d-block rounded-5 mw-100"
                    />
                  </div>

                  <div
                    class="d-flex flex-column justify-content-between flex-grow-1 rounded-5 bg-white shadow p-6 p-lg-5 p-xl-6 me-6 me-lg-4 me-xl-8"
                  >
                    <div class="mb-auto">
                      <h3 class="fs-h6 mb-6">K. Lee</h3>

                      <div class="mb-6">
                        <div class="d-flex align-items-center gap-2 mb-2">
                          <p class="tag tag-sm tag-neutral px-3">音樂創作</p>

                          <p class="d-block align-items-center fw-medium">
                            <span
                              class="material-symbols-outlined fill fs-sm"
                              style="color: #f6bd2b"
                            >
                              star
                            </span>
                            <span class="text-neutral-100">4.8</span>
                            <span class="text-neutral-60">(1,245)</span>
                          </p>
                        </div>

                        <p>
                          K. Lee
                          的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K.
                          Lee 的課程讓他們對音樂產生了濃厚的興趣！
                        </p>
                      </div>
                    </div>

                    <a href="#" class="btn btn-primary-100 d-block px-0 text-center">
                      探索 Mr. Robert 的教學課程
                    </a>
                  </div>
                </div>
              </li>
            </ul>

            <!-- 分頁 -->
            <div class="swiper-pagination d-lg-none" style="top: calc(100% + 24px - 8px)"></div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>
  </body>
</html>
