<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <%- include('./layout/head', { title: '首頁' }); -%>
  <body>
    <%- include('./layout/navbar'); -%>

    <header class="index-header">
      <div id="indexHeaderSwiper" class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide position-relative">
            <img src="../assets/images/index/hero-2.png" alt="hero" />

            <!-- 文字內容 -->
            <div class="content position-absolute start-0 end-0 bottom-0 end-lg-auto z-3">
              <div class="px-3">
                <div
                  class="d-flex align-items-center gap-2 w-fit bg-white rounded-pill mx-auto ms-lg-10 p-2 p-lg-4 pe-6 pe-lg-8 mb-12 mb-lg-8"
                >
                  <p class="tag tag-primary text-nowrap">熱銷課程 🔥</p>
                  <p class="h6 fs-sm fs-lg-h6 fw-semibold w-fit mb-0">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>

              <h1 class="mb-0">
                <a
                  href="#"
                  class="link fs-sm fs-lg-h2 d-flex justify-content-center justify-content-lg-start align-items-center gap-4 bg-primary-100 text-white py-4 py-lg-8 ps-lg-30 pe-lg-20 mb-0"
                >
                  探索感興趣的課程，今天立即上課
                  <span class="material-symbols-outlined fs-4 fs-lg-11"> arrow_right_alt </span>
                </a>
              </h1>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="../assets/images/index/hero-3.png" alt="hero" />

            <!-- 文字內容 -->
            <div class="content position-absolute start-0 end-0 bottom-0 end-lg-auto z-3">
              <div class="px-3">
                <div
                  class="d-flex align-items-center gap-2 w-fit bg-white rounded-pill mx-auto ms-lg-10 p-2 p-lg-4 pe-6 pe-lg-8 mb-12 mb-lg-8"
                >
                  <p class="tag tag-primary text-nowrap">熱銷課程 🔥</p>
                  <p class="h6 fs-sm fs-lg-h6 fw-semibold w-fit mb-0">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>

              <h1 class="mb-0">
                <a
                  href="#"
                  class="link fs-sm fs-lg-h2 d-flex justify-content-center justify-content-lg-start align-items-center gap-4 bg-primary-100 text-white py-4 py-lg-8 ps-lg-30 pe-lg-20 mb-0"
                >
                  探索感興趣的課程，今天立即上課
                  <span class="material-symbols-outlined fs-4 fs-lg-11"> arrow_right_alt </span>
                </a>
              </h1>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="../assets/images/index/hero-2.png" alt="hero" />

            <!-- 文字內容 -->
            <div class="content position-absolute start-0 end-0 bottom-0 end-lg-auto z-3">
              <div class="px-3">
                <div
                  class="d-flex align-items-center gap-2 w-fit bg-white rounded-pill mx-auto ms-lg-10 p-2 p-lg-4 pe-6 pe-lg-8 mb-12 mb-lg-8"
                >
                  <p class="tag tag-primary text-nowrap">熱銷課程 🔥</p>
                  <p class="h6 fs-sm fs-lg-h6 fw-semibold w-fit mb-0">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>

              <h1 class="mb-0">
                <a
                  href="#"
                  class="link fs-sm fs-lg-h2 d-flex justify-content-center justify-content-lg-start align-items-center gap-4 bg-primary-100 text-white py-4 py-lg-8 ps-lg-30 pe-lg-20 mb-0"
                >
                  探索感興趣的課程，今天立即上課
                  <span class="material-symbols-outlined fs-4 fs-lg-11"> arrow_right_alt </span>
                </a>
              </h1>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="../assets/images/index/hero-1.png" alt="hero" />

            <!-- 文字內容 -->
            <div class="content position-absolute start-0 end-0 bottom-0 end-lg-auto z-3">
              <div class="px-3">
                <div
                  class="d-flex align-items-center gap-2 w-fit bg-white rounded-pill mx-auto ms-lg-10 p-2 p-lg-4 pe-6 pe-lg-8 mb-12 mb-lg-8"
                >
                  <p class="tag tag-primary text-nowrap">熱銷課程 🔥</p>
                  <p class="h6 fs-sm fs-lg-h6 fw-semibold w-fit mb-0">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>

              <h1 class="mb-0">
                <a
                  href="#"
                  class="link fs-sm fs-lg-h2 d-flex justify-content-center justify-content-lg-start align-items-center gap-4 bg-primary-100 text-white py-4 py-lg-8 ps-lg-30 pe-lg-20 mb-0"
                >
                  探索感興趣的課程，今天立即上課
                  <span class="material-symbols-outlined fs-4 fs-lg-11"> arrow_right_alt </span>
                </a>
              </h1>
            </div>
          </div>
        </div>

        <!-- 按鈕 -->
        <div class="swiper-button-wrapper">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- 分頁 -->
          <div class="swiper-pagination d-block d-lg-none mb-4" style="bottom: 56px"></div>
        </div>
      </div>
    </header>

    <main></main>

    <%- include('./layout/footer'); -%>
  </body>
</html>
